* {
  outline: 0 !important;
  -webkit-backface-visibility: hidden !important;
          backface-visibility: hidden !important;
}

@font-face {
  font-family: 'Izmir-HairlineItalic';
  src: url("webFonts/Izmir-HairlineItalic/font.woff2") format("woff2"), url("webFonts/Izmir-HairlineItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Extralight';
  src: url("webFonts/Izmir-Extralight/font.woff2") format("woff2"), url("webFonts/Izmir-Extralight/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Hairline';
  src: url("webFonts/Izmir-Hairline/font.woff2") format("woff2"), url("webFonts/Izmir-Hairline/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-ThinItalic';
  src: url("webFonts/Izmir-ThinItalic/font.woff2") format("woff2"), url("webFonts/Izmir-ThinItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Black';
  src: url("webFonts/Izmir-Black/font.woff2") format("woff2"), url("webFonts/Izmir-Black/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-BlackItalic';
  src: url("webFonts/Izmir-BlackItalic/font.woff2") format("woff2"), url("webFonts/Izmir-BlackItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-HeavyItalic';
  src: url("webFonts/Izmir-HeavyItalic/font.woff2") format("woff2"), url("webFonts/Izmir-HeavyItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Extrabold';
  src: url("webFonts/Izmir-Extrabold/font.woff2") format("woff2"), url("webFonts/Izmir-Extrabold/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-BoldItalic';
  src: url("webFonts/Izmir-BoldItalic/font.woff2") format("woff2"), url("webFonts/Izmir-BoldItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Heavy';
  src: url("webFonts/Izmir-Heavy/font.woff2") format("woff2"), url("webFonts/Izmir-Heavy/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Bold';
  src: url("webFonts/Izmir-Bold/font.woff2") format("woff2"), url("webFonts/Izmir-Bold/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-SemiboldItalic';
  src: url("webFonts/Izmir-SemiboldItalic/font.woff2") format("woff2"), url("webFonts/Izmir-SemiboldItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-MediumItalic';
  src: url("webFonts/Izmir-MediumItalic/font.woff2") format("woff2"), url("webFonts/Izmir-MediumItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Semibold';
  src: url("webFonts/Izmir-Semibold/font.woff2") format("woff2"), url("webFonts/Izmir-Semibold/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-ExtraboldItalic';
  src: url("webFonts/Izmir-ExtraboldItalic/font.woff2") format("woff2"), url("webFonts/Izmir-ExtraboldItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Medium';
  src: url("webFonts/Izmir-Medium/font.woff2") format("woff2"), url("webFonts/Izmir-Medium/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Regular';
  src: url("webFonts/Izmir-Regular/font.woff2") format("woff2"), url("webFonts/Izmir-Regular/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-RegularItalic';
  src: url("webFonts/Izmir-RegularItalic/font.woff2") format("woff2"), url("webFonts/Izmir-RegularItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-LightItalic';
  src: url("webFonts/Izmir-LightItalic/font.woff2") format("woff2"), url("webFonts/Izmir-LightItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Light';
  src: url("webFonts/Izmir-Light/font.woff2") format("woff2"), url("webFonts/Izmir-Light/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-ExtralightItalic';
  src: url("webFonts/Izmir-ExtralightItalic/font.woff2") format("woff2"), url("webFonts/Izmir-ExtralightItalic/font.woff") format("woff");
}

@font-face {
  font-family: 'Izmir-Thin';
  src: url("webFonts/Izmir-Thin/font.woff2") format("woff2"), url("webFonts/Izmir-Thin/font.woff") format("woff");
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 300px;
}

.component-signin-card {
  width: 512px;
  height: 550px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 80px auto;
  padding: 50px;
}

.form-title {
  font-size: 38px;
  text-align: left;
  color: #474242;
  font-family: 'Izmir-Extrabold';
}

.form-description {
  font-family: 'Izmir-Semibold';
  font-size: 17px;
  text-align: left;
  color: #474242;
}

.form-description-2 span {
  font-family: 'Izmir-Medium';
  font-size: 16px;
  text-align: left;
  color: #707070;
}

.form-description-2 a {
  text-decoration: none;
  font-size: 16px;
  color: #3f3f3f;
  font-family: 'Izmir-Semibold';
}

.form-description-2 a:hover {
  color: black;
}

.form-group {
  margin-top: 35px;
}

.form-group .form-input {
  width: 306px;
  height: 45px;
  border-radius: 22px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-family: 'Izmir-Medium';
  font-size: 17;
  display: block;
  padding: 0 16px;
  position: relative;
  margin-top: 25px;
  border: 0px;
}

.form-group .form-input:nth-child(1) {
  margin-top: 0;
}

.form-group .section-2 {
  margin: 19px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group .section-2 a {
  font-size: 14px;
  color: #605F5F;
  font-family: 'Izmir-Medium';
  text-decoration: none;
}

.form-group .section-2 a:hover {
  color: #3F3F3F;
}

.btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-div .btn-login {
  width: 174px;
  height: 64px;
  font-size: 20px;
  font-family: 'Izmir-Semibold';
  border-radius: 32px;
  text-align: center;
  border: 3px solid #474242;
  color: #707070;
  margin: 26px 0 0 0;
  background-color: #ffffff;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.btn-div .btn-login:hover {
  background-color: #474242;
  color: #ffffff;
}

.tick-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  font-family: 'Izmir-Medium';
  font-size: 15px;
  color: #605F5F;
}

.tick-full .tick {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: relative;
  display: block;
  cursor: pointer;
}

.tick-full .tick::after {
  content: "";
  width: 0;
  height: 0;
}

.tick-full input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.tick-full input:checked + .tick::after {
  width: 11px;
  height: 9px;
  background: url("/images/tick-sign.svg");
  position: absolute;
  top: 8px;
  left: 7px;
}
/*# sourceMappingURL=main.css.map */